<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.est.mapper.BrandClassifyRelationMapper">

    <select id="getBrandClassifyRelationById" resultType="cn.est.pojo.BrandClassifyRelation">
        select
                id as id,
                brandId as brandId,
                classifyId as classifyId,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from brand_classify_relation
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getBrandClassifyRelationListByMap" resultType="cn.est.pojo.BrandClassifyRelation" parameterType="java.util.Map">
        select
                id as id,
                brandId as brandId,
                classifyId as classifyId,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from brand_classify_relation
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null">
                        and id=#{id}
                    </if>
                    <if test="brandId != null">
                        and brandId=#{brandId}
                    </if>
                    <if test="classifyId != null">
                        and classifyId=#{classifyId}
                    </if>
                    <if test="createdUserId != null">
                        and createdUserId=#{createdUserId}
                    </if>
                    <if test="updatedUserId != null">
                        and updatedUserId=#{updatedUserId}
                    </if>
                    <if test="null!=creatdTime">
                        and creatdTime=#{creatdTime}
                    </if>
                    <if test="null!=updatedTime">
                        and updatedTime=#{updatedTime}
                    </if>
                    <if test="isDelete != null">
                        and isDelete=#{isDelete}
                    </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getBrandClassifyRelationCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from brand_classify_relation
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null">
                    and id=#{id}
                </if>
                <if test="brandId != null">
                    and brandId=#{brandId}
                </if>
                <if test="classifyId != null">
                    and classifyId=#{classifyId}
                </if>
                <if test="createdUserId != null">
                    and createdUserId=#{createdUserId}
                </if>
                <if test="updatedUserId != null">
                    and updatedUserId=#{updatedUserId}
                </if>
                <if test="null!=creatdTime">
                    and creatdTime=#{creatdTime}
                </if>
                <if test="null!=updatedTime">
                    and updatedTime=#{updatedTime}
                </if>
                <if test="isDelete != null">
                    and isDelete=#{isDelete}
                </if>
        </trim>
    </select>

    <insert id="insertBrandClassifyRelation" parameterType="cn.est.pojo.BrandClassifyRelation">
        insert into brand_classify_relation(
                        brandId,
                        classifyId,
                        createdUserId,
                        updatedUserId,
                        creatdTime,
                        updatedTime,
                        isDelete)
        values(
                     #{brandId},
                     #{classifyId},
                     #{createdUserId},
                     #{updatedUserId},
                     #{creatdTime},
                     #{updatedTime},
                    #{isDelete})
    </insert>

    <update id="updateBrandClassifyRelation" parameterType="cn.est.pojo.BrandClassifyRelation">
        update brand_classify_relation
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                            <if test="brandId != null">
                                brandId=#{brandId},
                            </if>
                            <if test="classifyId != null">
                                classifyId=#{classifyId},
                            </if>
                            <if test="createdUserId != null">
                                createdUserId=#{createdUserId},
                            </if>
                            <if test="updatedUserId != null">
                                updatedUserId=#{updatedUserId},
                            </if>
                            <if test="creatdTime != null">
                                creatdTime=#{creatdTime},
                            </if>
                            <if test="updatedTime != null">
                                updatedTime=#{updatedTime},
                            </if>
                            <if test="isDelete != null">
                                isDelete=#{isDelete}
                            </if>
        </trim>
    </update>

    <delete id="deleteBrandClassifyRelationById" parameterType="String">
        delete from brand_classify_relation where id = #{id}
    </delete>

    <delete id="batchDeleteBrandClassifyRelation" parameterType="java.util.Map">
        delete from brand_classify_relation where id in (
            <foreach collection="ids" item="id" separator=",">
                    #{id}
            </foreach>
        )
    </delete>
</mapper>