<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.est.mapper.MaintainOrderMapper">

    <select id="getMaintainOrderById" resultType="cn.est.pojo.MaintainOrder">
        select
                id as id,
                serialNo as serialNo,
                orderNo as orderNo,
                userId as userId,
                modelId as modelId,
                evaluateId as evaluateId,
                subscription as subscription,
                price as price,
                status as status,
                isComment as isComment,
                cancelReason as cancelReason,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from maintain_order
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getMaintainOrderListByMap" resultType="cn.est.pojo.MaintainOrder" parameterType="java.util.Map">
        select
                id as id,
                serialNo as serialNo,
                orderNo as orderNo,
                userId as userId,
                modelId as modelId,
                evaluateId as evaluateId,
                subscription as subscription,
                price as price,
                status as status,
                isComment as isComment,
                cancelReason as cancelReason,
                createdUserId as createdUserId,
                updatedUserId as updatedUserId,
                creatdTime as creatdTime,
                updatedTime as updatedTime,
                isDelete as isDelete
        from maintain_order
        <trim prefix="where" prefixOverrides="and | or">
                    <if test="id != null">
                        and id=#{id}
                    </if>
                    <if test="serialNo != null and serialNo!=''">
                        and serialNo=#{serialNo}
                    </if>
                    <if test="orderNo != null and orderNo!=''">
                        and orderNo=#{orderNo}
                    </if>
                    <if test="userId != null">
                        and userId=#{userId}
                    </if>
                    <if test="modelId != null">
                        and modelId=#{modelId}
                    </if>
                    <if test="evaluateId != null">
                        and evaluateId=#{evaluateId}
                    </if>
                    <if test="subscription != null">
                        and subscription=#{subscription}
                    </if>
                    <if test="price != null">
                        and price=#{price}
                    </if>
                    <if test="status != null">
                        and status=#{status}
                    </if>
                    <if test="isComment != null">
                        and isComment=#{isComment}
                    </if>
                    <if test="cancelReason != null and cancelReason!=''">
                        and cancelReason=#{cancelReason}
                    </if>
                    <if test="createdUserId != null">
                        and createdUserId=#{createdUserId}
                    </if>
                    <if test="updatedUserId != null">
                        and updatedUserId=#{updatedUserId}
                    </if>
                    <if test="null!=creatdTime">
                        and creatdTime=#{creatdTime}
                    </if>
                    <if test="null!=updatedTime">
                        and updatedTime=#{updatedTime}
                    </if>
                    <if test="isDelete != null">
                        and isDelete=#{isDelete}
                    </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getMaintainOrderCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from maintain_order
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null">
                    and id=#{id}
                </if>
                <if test="serialNo != null and serialNo!=''">
                    and serialNo=#{serialNo}
                </if>
                <if test="orderNo != null and orderNo!=''">
                    and orderNo=#{orderNo}
                </if>
                <if test="userId != null">
                    and userId=#{userId}
                </if>
                <if test="modelId != null">
                    and modelId=#{modelId}
                </if>
                <if test="evaluateId != null">
                    and evaluateId=#{evaluateId}
                </if>
                <if test="subscription != null">
                    and subscription=#{subscription}
                </if>
                <if test="price != null">
                    and price=#{price}
                </if>
                <if test="status != null">
                    and status=#{status}
                </if>
                <if test="isComment != null">
                    and isComment=#{isComment}
                </if>
                <if test="cancelReason != null and cancelReason!=''">
                    and cancelReason=#{cancelReason}
                </if>
                <if test="createdUserId != null">
                    and createdUserId=#{createdUserId}
                </if>
                <if test="updatedUserId != null">
                    and updatedUserId=#{updatedUserId}
                </if>
                <if test="null!=creatdTime">
                    and creatdTime=#{creatdTime}
                </if>
                <if test="null!=updatedTime">
                    and updatedTime=#{updatedTime}
                </if>
                <if test="isDelete != null">
                    and isDelete=#{isDelete}
                </if>
        </trim>
    </select>

    <insert id="insertMaintainOrder" parameterType="cn.est.pojo.MaintainOrder">
        insert into maintain_order(
                        serialNo,
                        orderNo,
                        userId,
                        modelId,
                        evaluateId,
                        subscription,
                        price,
                        status,
                        isComment,
                        cancelReason,
                        createdUserId,
                        updatedUserId,
                        creatdTime,
                        updatedTime,
                        isDelete)
        values(
                     #{serialNo},
                     #{orderNo},
                     #{userId},
                     #{modelId},
                     #{evaluateId},
                     #{subscription},
                     #{price},
                     #{status},
                     #{isComment},
                     #{cancelReason},
                     #{createdUserId},
                     #{updatedUserId},
                     #{creatdTime},
                     #{updatedTime},
                    #{isDelete})
    </insert>

    <update id="updateMaintainOrder" parameterType="cn.est.pojo.MaintainOrder">
        update maintain_order
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                            <if test="serialNo != null and serialNo!=''">
                                serialNo=#{serialNo},
                            </if>
                            <if test="orderNo != null and orderNo!=''">
                                orderNo=#{orderNo},
                            </if>
                            <if test="userId != null">
                                userId=#{userId},
                            </if>
                            <if test="modelId != null">
                                modelId=#{modelId},
                            </if>
                            <if test="evaluateId != null">
                                evaluateId=#{evaluateId},
                            </if>
                            <if test="subscription != null">
                                subscription=#{subscription},
                            </if>
                            <if test="price != null">
                                price=#{price},
                            </if>
                            <if test="status != null">
                                status=#{status},
                            </if>
                            <if test="isComment != null">
                                isComment=#{isComment},
                            </if>
                            <if test="cancelReason != null and cancelReason!=''">
                                cancelReason=#{cancelReason},
                            </if>
                            <if test="createdUserId != null">
                                createdUserId=#{createdUserId},
                            </if>
                            <if test="updatedUserId != null">
                                updatedUserId=#{updatedUserId},
                            </if>
                            <if test="creatdTime != null">
                                creatdTime=#{creatdTime},
                            </if>
                            <if test="updatedTime != null">
                                updatedTime=#{updatedTime},
                            </if>
                            <if test="isDelete != null">
                                isDelete=#{isDelete}
                            </if>
        </trim>
    </update>

    <delete id="deleteMaintainOrderById" parameterType="String">
        delete from maintain_order where id = #{id}
    </delete>

    <delete id="batchDeleteMaintainOrder" parameterType="java.util.Map">
        delete from maintain_order where id in (
            <foreach collection="ids" item="id" separator=",">
                    #{id}
            </foreach>
        )
    </delete>
</mapper>